<h1 class="mt-4">List of all cocktails</h1>

<% @cocktails.each do |cocktail| %>

  <%= link_to cocktail_path(cocktail) do %>
    <div class="card m-3 rounded" style="width: 200px; height: 200px; background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('<%= cl_image_path cocktail.photo.key, height: 200, width: 200, crop: :fill %>')">
      <div class="title">
        <%= cocktail.name %>
      </div>
    </div>
  <% end %>
<% end %>
